<app-banner title="Information Delta Relationship" ></app-banner>

<form action="">

<div class="row">
    <div class="col-lg-4 col-sm-6 pro-item portfolio-item travel">
        <div class="card h-100">
           <div class="card-img">
              <a href="assets/images/portfolio-img-03.jpg" data-fancybox="images">
                 <img class="card-img-top" src="assets/images/sante.jpg" alt="" />
                 <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
              </a>
           </div>
           <div class="card-body">
              <h4 class="card-title">
                 <a href="#">Sante</a>
              </h4>
           </div>
           <button type="button"  (click)="accepter(id)" class="btn btn-success">Accepter</button>
        </div>
     </div>

     <div class="col-lg-4 col-sm-6 pro-item portfolio-item travel">
        <div class="card h-100">
           <div class="card-img">
              <a href="assets/images/portfolio-img-03.jpg" data-fancybox="images">
                 <img class="card-img-top" src="assets/images/women.jpg" alt="" />
                 <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
              </a>
           </div>
           <div class="card-body">
              <h4 class="card-title">
                 <a href="#">Women Company</a>
              </h4>
           </div>
           <button type="button" (click)="accepterWomen(id)" class="btn btn-success">Accepter</button>
        </div>
     </div>

     <div class="col-lg-4 col-sm-6 pro-item portfolio-item travel">
        <div class="card h-100">
           <div class="card-img">
              <a href="assets/images/portfolio-img-03.jpg" data-fancybox="images">
                 <img class="card-img-top" src="assets/images/autres.jpg" alt="" />
                 <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
              </a>
           </div>
           <div class="card-body">
              <h4 class="card-title">
                 <a href="#">Autres</a>
              </h4>
           </div>
           <button type="button" (click)="accepterMaintenance(id)" class="btn btn-success">Accepter</button>
        </div>
     </div>


     <div class="col-lg-4 col-sm-6 pro-item portfolio-item travel">
      <div class="card h-100">
         <div class="card-img">
            <a href="assets/images/portfolio-img-03.jpg" data-fancybox="images">
               <img class="card-img-top" src="assets/images/publications.jpg" alt="" />
               <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
            </a>
         </div>
         <div class="card-body">
            <h4 class="card-title">
               <a href="#">Creation des Publications</a>
            </h4>
         </div>
         <button type="button" (click)="voirPublication(id)" class="btn btn-success">Accepter</button>
      </div>
   </div>
</div>









</form>