
<div class="card h-100">
    <div class="card-img">
       <a href={{InputListe.image}} data-fancybox="images">
          <img class="card-img-top" src={{InputListe.images}} alt="" />
          <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
       </a>
    </div>
    <div class="card-body">
       <h4 class="card-title">
          <a href="#">{{InputListe.title}}</a>
       </h4>
    </div>
    <div class="blue">
        <h3>{{InputListe.description}}</h3>
        <p>{{InputListe.info}}</p>
    </div>
 </div>