<app-banner title="Cordonne Infermiere"></app-banner>
<form action="">

    <div>
        <div class="col-lg-4 col-sm-6 pro-item portfolio-item travel">
            <div class="card h-100">
               <div class="card-img">
                  <a href="assets/images/portfolio-img-03.jpg" data-fancybox="images">
                     <img class="card-img-top" src="assets/images/cv4.jpg" alt="" />
                     <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                  </a>
               </div>
               <div class="card-body">
                  <h4 class="card-title">
                     <a href="#">Wellcome</a>
                  </h4>
               </div>
               <button type="button" (click)="contacter(id)" class="btn btn-success">Display</button>
               <button type="button" (click)="retourner(id)" class="btn btn-info">Retourner</button>

            </div>
         </div>
    
    
    </div>
    
    
    
    
    
    
    
    
    
    </form>
