<app-banner title="Maintenance"></app-banner>
<form action="">

    <div class="row">
        <div class="col-lg-4 col-sm-6 pro-item portfolio-item travel">
            <div class="card h-100">
               <div class="card-img">
                  <a href="assets/images/portfolio-img-03.jpg" data-fancybox="images">
                     <img class="card-img-top" src="assets/images/mint1.jpg" alt="" />
                     <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                  </a>
               </div>
               <div class="card-body">
                  <h4 class="card-title">
                     <a href="#">MAINTENANCE</a>
                  </h4>
               </div>
               <button type="button" (click)="voirMaint(id)" class="btn btn-success">Voir</button>
            </div>
         </div>
         </div>
        </form>
