<div class="container">
   <!-- About Section -->
   <div class="about-main">
      <div class="row">
         <div class="col-lg-6">
            <h2>Welcome to delta relationship</h2>
            <p>
               Les plateformes de mise en relation ont le vent en poupe ces dernières années.
               De fait, elles apportent une réelle solution aux recherches interminables sur les moteurs de recherche et
               aux plans de prospection compliqués.
               Si vous hésitez encore à utiliser une plateforme de mise en relation pour la recherche de votre prochain
               prestataire, que ce soit pour la maison ou votre entreprise,
               voici 3 raisons d’utiliser ce genre de plate-forme.
            </p>
            <ul>
               <li>Des avis d’autres clients.</li>
               <li>Des critères objectifs de tri et de sélection.</li>
               <li>Un service digital à la pointe.</li>
            </ul>
         </div>
         <div class="col-lg-6">
            <img class="img-fluid rounded" src="assets/images/couv5.jpg" alt="" />
         </div>
      </div>
      <!-- /.row -->
   </div>
</div>