<app-banner title="Women Information"></app-banner>
<form action="">

    <div class="row">
        <div class="col-lg-4 col-sm-6 pro-item portfolio-item travel">
            <div class="card h-100">
               <div class="card-img">
                  <a href="assets/images/portfolio-img-03.jpg" data-fancybox="images">
                     <img class="card-img-top" src="assets/images/w1.jpg" alt="" />
                     <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                  </a>
               </div>
               <div class="card-body">
                  <h4 class="card-title">
                     <a href="#">WOMNE ONE</a>
                  </h4>
               </div>
               <button type="button" (click)="voirOne(id)" class="btn btn-success">Voir</button>
            </div>
         </div>
    
         <div class="col-lg-4 col-sm-6 pro-item portfolio-item travel">
            <div class="card h-100">
               <div class="card-img">
                  <a href="assets/images/portfolio-img-03.jpg" data-fancybox="images">
                     <img class="card-img-top" src="assets/images/w2.jpg" alt="" />
                     <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                  </a>
               </div>
               <div class="card-body">
                  <h4 class="card-title">
                     <a href="#">WOMEN TWO</a>
                  </h4>
               </div>
               <button type="button" (click)="voirTwo(id)" class="btn btn-success">Voir</button>
            </div>
         </div>
    
         <div class="col-lg-4 col-sm-6 pro-item portfolio-item travel">
            <div class="card h-100">
               <div class="card-img">
                  <a href="assets/images/portfolio-img-03.jpg" data-fancybox="images">
                     <img class="card-img-top" src="assets/images/w3.jpg" alt="" />
                     <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                  </a>
               </div>
               <div class="card-body">
                  <h4 class="card-title">
                     <a href="#">WOMEN THREE</a>
                  </h4>
               </div>
               <button type="button" (click)="voirThree(id)" class="btn btn-success">Voir</button>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6 pro-item portfolio-item travel">
            <div class="card h-100">
               <div class="card-img">
                  <a href="assets/images/portfolio-img-03.jpg" data-fancybox="images">
                     <img class="card-img-top" src="assets/images/w4.jpg" alt="" />
                     <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                  </a>
               </div>
               <div class="card-body">
                  <h4 class="card-title">
                     <a href="#">WOMEN FOR</a>
                  </h4>
               </div>
               <button type="button" (click)="voirFor(id)" class="btn btn-success">Voir</button>
            </div>
         </div>
    </div>
 
    
    </form>
