<app-banner title="votre demande a été traitée avec succès "></app-banner>


<div class="row">
   <div class="col-lg-6 col-sm-6 pro-item portfolio-item travel">
      <div class="card h-100">
         <div class="card-img">
            <a href="assets/images/portfolio-img-03.jpg" data-fancybox="images">
               <img class="card-img-top" src="assets/images/bien.jpg" alt="" />
               <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
            </a>
         </div>
         <div class="card-body">
            <h4 class="card-title">
               <a href="#">votre demande a été traitée avec succès</a>
            </h4>
         </div>
         <button type="button" (click)="RetourPublication(id)" class="btn btn-success">Retour</button>
      </div>
   </div>
   <!-- <div class="col-lg-6 col-sm-6 pro-item portfolio-item travel">
     <div class="card h-100">
        <div class="card-img">
           <a href="assets/images/portfolio-img-03.jpg" data-fancybox="images">
              <img class="card-img-top" src="assets/images/reponse.jpg" alt="" />
              <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
           </a>
        </div>
        <div class="card-body">
           <h4 class="card-title">
              <a href="#">voir les reponses</a>
           </h4>
        </div>
        <button type="button" (click)="voirReponse(id)" class="btn btn-success">Voir Les Reponses</button>
     </div>
  </div> -->
  

</div>