<div class="post-slide">
    <div class="post-header">
        <h4 class="title">
            <a href="#">{{Inputarticle.title}}</a>
        </h4>
        <ul class="post-bar">
            <li><img src={{Inputarticle.avatar}} alt=""><a href="#">{{Inputarticle.name}}</a></li>
            <li><i class="fa fa-calendar"></i>{{Inputarticle.date}}</li>
        </ul>
    </div>
    <div class="pic">
        <img src={{Inputarticle.image}} alt="">
        <ul class="post-category">
            <li><a href="#">{{Inputarticle.bt1}}</a></li>
            <li><a href="#">{{Inputarticle.bt2}}</a></li>
        </ul>
    </div>
    <p class="post-description">
        {{Inputarticle.description}}
    </p>
</div>
