
<app-banner title="Login"></app-banner>
<div class="contact-main">
    <div class="container">
        <!-- Content Row -->
      <div class="row">
        <!-- Map Column -->
            <div class="col-lg-8 mb-4 contact-left">
                <h3>LOGIN VALIDATION</h3>
                <img class="img-fluid" src="assets/images/iconelogin.png" alt="" />
                <form [formGroup]="loginForm">
                
                    <div class="control-group form-group">
                        <div class="controls">
                            <input type="tel" formControlName="telephone"  placeholder="Telephone" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                        </div>
                    </div>
                    <div *ngIf="loginForm.controls['telephone'].invalid && (loginForm.controls['telephone'].touched ||
                    loginForm.controls['telephone'].dirty)">
                    <div *ngIf="loginForm.controls['telephone'].errors.required" class="red">
                      telephone is required
                    </div>
                    <div *ngIf="loginForm.controls['telephone'].errors.minlength" class="red">
                      telephone must have at least 8
                    </div>
                    <div *ngIf="loginForm.controls['telephone'].errors.maxlength" class="red">
                      telephone must have at most 8 chars
                    </div>
        
                    </div>
                    
                    <div class="control-group form-group">
                        <div class="controls">
                            <input type="password"  formControlName="pwd"   placeholder="password" class="form-control" id="pwd" required data-validation-required-message="Please enter your password.">
                        </div>
                    </div>
                    <div *ngIf="loginForm.controls['pwd'].invalid && (loginForm.controls['pwd'].touched ||
                    loginForm.controls['pwd'].dirty)">
                    <div *ngIf="loginForm.controls['pwd'].errors.required" class="red">
                      password is required
                    </div>
                    <div *ngIf="loginForm.controls['pwd'].errors.minlength" class="red">
                      password must have at least 6
                    </div>
                    <div *ngIf="loginForm.controls['pwd'].errors.maxlength" class="red">
                      password must have at most 12 chars
                    </div>
        
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button  (click)="login()"  type="submit" class="btn btn-primary" id="sendMessageButton">LOGIN</button>
                    <span style="color: red;">{{errorMsg}}</span>
                </form>
            </div>
            
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>

