<div class="full-title">
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3"> {{title}} </h1>
       
        <div class="breadcrumb-main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active">{{title}}</li>
                <h3>{{dateInput |  date:"dd/MM/yyy hh:mm"}}</h3>
            </ol>
        </div>
    </div>
</div>