<div class="services-bar">
    <div class="container">
        <h1 class="py-4">Our Best Services </h1>
        <!-- Services Section -->
        <div class="row">
           <div class="col-lg-4 mb-4" *ngFor="let info of infos">

              <app-info [infoInput]="info"></app-info>  
           
            </div>

           <!-- <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-img">
                        <img class="img-fluid" src="assets/images/services-img-02.jpg" alt="" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-header"> Applications </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                </div>
           </div>
           <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-img">
                        <img class="img-fluid" src="assets/images/services-img-03.jpg" alt="" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-header"> Business Process </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                </div>
           </div>
           <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-img">
                        <img class="img-fluid" src="assets/images/services-img-04.jpg" alt="" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-header"> Consulting </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>						
                </div>
           </div>
           <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-img">
                        <img class="img-fluid" src="assets/images/services-img-05.jpg" alt="" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-header"> Infrastructure </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>						
                </div>
           </div>
           <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-img">
                        <img class="img-fluid" src="assets/images/services-img-06.jpg" alt="" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-header"> Product Engineering </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                </div>
           </div> -->
        </div>
        <!-- /.row -->
    </div>
</div>