<div class="blog-slide">
    <div class="container">
        <h2>Our Blog Personne Experience</h2>
        <div class="row" >
            <div class="col-lg-4" *ngFor="let article of articles">
                <div id="blog-slider" >
                  <app-article [Inputarticle]="article"></app-article>
     
                    <!-- <div class="post-slide">
                        <div class="post-header">
                            <h4 class="title">
                                <a href="#">Latest blog Post</a>
                            </h4>
                            <ul class="post-bar">
                                <li><img src="assets/images/testi_02.png" alt=""><a href="#">Kristiana</a></li>
                                <li><i class="fa fa-calendar"></i>05 June 2018</li>
                            </ul>
                        </div>
                        <div class="pic">
                            <img src="assets/images/img-2.jpg" alt="">
                            <ul class="post-category">
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Financ</a></li>
                            </ul>
                        </div>
                        <p class="post-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida nulla eu massa efficitur, eu hendrerit ipsum efficitur. Morbi vitae velit ac.
                        </p>
                    </div>
                    
                    <div class="post-slide">
                        <div class="post-header">
                            <h4 class="title">
                                <a href="#">Latest blog Post</a>
                            </h4>
                            <ul class="post-bar">
                                <li><img src="assets/images/testi_01.png" alt=""><a href="#">Kristiana</a></li>
                                <li><i class="fa fa-calendar"></i>05 June 2018</li>
                            </ul>
                        </div>
                        <div class="pic">
                            <img src="assets/images/img-3.jpg" alt="">
                            <ul class="post-category">
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Financ</a></li>
                            </ul>
                        </div>
                        <p class="post-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida nulla eu massa efficitur, eu hendrerit ipsum efficitur. Morbi vitae velit ac.
                        </p>
                    </div>
                    
                    <div class="post-slide">
                        <div class="post-header">
                            <h4 class="title">
                                <a href="#">Latest blog Post</a>
                            </h4>
                            <ul class="post-bar">
                                <li><img src="assets/images/testi_02.png" alt=""><a href="#">Kristiana</a></li>
                                <li><i class="fa fa-calendar"></i>05 June 2018</li>
                            </ul>
                        </div>
                        <div class="pic">
                            <img src="assets/images/img-4.jpg" alt="">
                            <ul class="post-category">
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Financ</a></li>
                            </ul>
                        </div>
                        <p class="post-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida nulla eu massa efficitur, eu hendrerit ipsum efficitur. Morbi vitae velit ac.
                        </p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>